pkgbase = python-poetry-core
	pkgdesc = Poetry PEP 517 Build Backend & Core Utilities
	pkgver = 1.9.0
	pkgrel = 2
	url = https://github.com/python-poetry/poetry-core
	arch = any
	license = MIT
	checkdepends = git
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	checkdepends = python-setuptools
	checkdepends = python-tomli-w
	checkdepends = python-virtualenv
	makedepends = python-build
	makedepends = python-installer
	depends = python-fastjsonschema
	depends = python-lark-parser
	depends = python-packaging
	conflicts = python-poetry<1.1.0
	source = https://github.com/python-poetry/poetry-core/archive/1.9.0/poetry-core-1.9.0.tar.gz
	sha256sums = 642f63ec06ba4e581b720def3a162bc23d11588fef9e9c5c57ab8a1e4f36e721

pkgname = python-poetry-core
